body {
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: #F3DAD8;
}

.wrapper {
    width:80%;
    margin: auto;
    background-color: #fff;
}

header, footer {
    background-color: #EC9998;
    text-align: center;
    color: #fff
}

.title {
    color: #fff;
}

h2{
    color: #B13947;
}

header ul {
    list-style: none;
    padding-left: 0%;
    display: flex;
    justify-content:space-around;
}

header, main, section, footer {
    padding: 20px;
}

nav {
    font-size: 18px;
}

nav a:link, a:visited {
    background-color: #F6E6B6;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: #D08700;
}

nav a:hover, a:active {
    background-color: #F1D786;
    color: #D08700;
}

#my-image {
    box-shadow: black 0px 2px 1px;
}

.hobby {
    list-style-type: square
}

.hobby li:nth-child(odd) {
    background: #F6E6B6;
}

blockquote {
    color: #D93330;
}
