body {
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    background-color: #d9d9d9;
}

.wrapper {
    width:80%;
    margin: auto;
    background-color: #fff;
}

header, footer {
    background-color: #284b63;
    text-align: center;
}

h1 {
    color: #fff;
}

header ul {
    list-style: none;
    padding-left: 0%;
    display: flex;
    justify-content:space-around
}

header, main, section, footer {
    padding: 20px;
}

nav {
    color: #d9d9d9;
    font-size: 18px;
}