body {
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: #F3DAD8;
}

.wrapper {
    width:80%;
    margin: auto;
    background-color: #fff;
}

header, footer {
    background-color: #EC9998;
    text-align: center;
    color: #fff
}

.title {
    color: #fff;
}

h2{
    color: #B13947;
}

header ul {
    list-style-type: none;
}

header, main, section, footer {
    padding: 20px;
}

#my-image {
    box-shadow: black 0px 2px 1px;
}

.hobby {
    list-style-type: square
}

.hobby li:nth-child(odd) {
    background: #F6E6B6;
}

ul.hobby {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

blockquote {
    color: #D93330;
}

nav ul a:link, a:visited {
    text-decoration: none;
    background-color: #F6E6B6;
    color: #D08700;
    border: 2px solid #B13947;
}

nav ul a:hover {
    background-color: #F1D786;
}