body {
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    background-color: #F3DAD8;
}

.wrapper {
    width:80%;
    margin: auto;
    background-color: #fff;
}

header, footer {
    background-color: #EC9998;
    text-align: center;
    color: #fff
}

h1 {
    color: #fff;
}

h2{
    color: #3c6e71;
}

header ul {
    list-style: none;
    padding-left: 0%;
    display: flex;
    justify-content:space-around;
}

header, main, section, footer {
    padding: 20px;
}

nav {
    font-size: 18px;
}

nav a:link, a:visited {
    background-color: #D6D9CE;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: #003D52;
}

nav a:hover, a:active {
    background-color: #94BDC7;
    color: #003D52;
}

#table {
    border-collapse: collapse;
    width: 100%;
}

#table tbody, #table td, #table tr {
    border: 1px solid #003D52;
    padding: 5px;
}