body {
    font-family: arial;
    font-size: 16px;
    background-color: #aad4cf;
}

.wrapper {
    width: 800px;
    margin: auto;
    background-color: #d4e9e7;
}

main, footer     {
    padding: 10px;
}

header {
    text-align: center;
}

h1 {
    color: #fff;
}

header ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.facts ul {
    padding-left: 20px;
}

footer {
    text-align: right;
    padding-right: 30px;
}