/* CSS reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: 'd';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





/* body: bg color, font-family, font-size(h1, h2, h4, p) */
body {
    width: 100%;
    background-color: white;
    font-family: 'Open Sans';
}


/* wrapper: 10px, margin:0 */
.wrapper {
    margin: 0 auto;
    padding: 0 10px;
}

/* header, footer */
header, footer {
    background-color: #222;
}


/* img, map size */
.about img, .service img, .team img {
    width: 100%;
    height: auto;
    margin: 0;
    display: block;
}

/* font style */
body {
    font-size: 16px;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.5em;
    padding: 0.8em 0 0.4em 0;
}

h2 {
    font-size: 2.3rem;
    font-weight: bold;
    margin: 0.5em 0 0.5em 0;
}

h4 {
    font-size: 1.4rem;
    font-weight: bold;
    padding: 0.7em 0 0.5em 0;
}

h6 {
    font-size: 0.8rem;
    font-weight: bold;
}

p {
    font-size: 0.7rem;
    line-height: 1.5em;
}


/* background color */

.about, .digital, .marketing, .video, .web, .print {
    background-color: #ffe6ac;
}

.about text, .digital text, .marketing text, .video text, .web text, .print text, .info {
    background-color: #ffe6ac;
    padding: 0 10px 0 10px;
}


/* button style */
.welcome button, .service button, .vision button {
    padding: 1.7em 2em;
    font-family: 'Open Sans';
    font-size: 1em;
    font-weight: 500;
    display: flex;
}

.welcome i, .service i, .vision i {
    padding-inline: 0.2em;
}



/* header: center menu, home bg color, form */
header {
    color: #c78c06;
    padding-block: 10px;
}

.logo img {
    width: 6em;
}

.logo {
    background-color: #c78c06;
    padding-block: 1em;
}

header ul {
    text-align: center;
}

header ul li {
    padding: 1.3em;
}

#home {
    background-color: #c78c06;
    color: #222;
}

header form {
    display: flex;
    justify-content: center;
}

header form input {
    width: 100%;
}

header form i {
    border: 1px solid #c78c06;
    padding: 0.3em;
}


/* welcome: bg img, bg color, button color */
.welcome {
    background-image: url(../images/main-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    padding: 50px 0;
}

.welcome .box {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.5em;
}

.welcome button {
    background-color: #c78c06;
    color: #222;
    border: 0;
}

.welcome p {
    padding: 0 0 10px 0;
}



/* service */
.about {
    padding-block: 10px;
}

.about div {
    padding-block: 0.5em;
}

.about p {
    padding-block: 0.5em;
}

/* service: section margin, button color, magrin for each contents */
.service {
    padding-block: 1.5em;
}

.service button {
    background-color: #222;
    color: white;
    border: 0;
}

.digital, .marketing, .video, .web, .print {
    margin-bottom: 10px;
}

.digital .text, .marketing .text, .video .text, .web .text, .print .text {
    padding: 20px 10px 10px 10px;
}

.digital p, .marketing p, .video p, .web p, .print p {
    padding: 10px 0 20px 0;
}


/* vision: bg img, button color */
.vision {
    background-image: url(../images/vision.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    padding: 20px 0 10px 0;
}

.vision button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: 1px solid #c78c06;
}

.vision p {
    padding: 10px 0;
}



/* team: section margin, div*4 */
.team {
    padding-block: 1em;
}

/* .photo-john img, .photo-bob img {
    margin: 0;
    padding: 0;
}

.photo-john, .photo-bob {
    margin: 0;
    padding: 0;
} */



.team hr {
    margin: 0;
    border: 1px solid #c78c06;
}

.team p {
    padding: 20px 0 25px 0;
}

.info {
    margin: 0 0 10px 0;
}




/* contact: div*3, section margin */
.contact {
    padding-top: 25px;
}

.information {
    padding-bottom: 10px 10px;
}


.information input {
    border: 1px solid;
    margin-block: 0.5em;
}

#fname, #email, #message {
    width: 100%;
    box-sizing: border-box;
}




/* message: form size, button */
#message {
    width: 100%;
    height: 150px;
    resize: none;
    border: 1px solid;
    margin-block: 0.5em;
}

#send {
	background-color: #222;
	border: 0;
	color: #c78c06;
	width: 60px;
	height: 30px;
	margin-block: 0.5em;
}



/* hour: table, padding */
#hour {
	width: 100%;
}

#hour th, td {
	border: 1px solid;
	padding: 10px;
}

#hour th {
	background-color: #ffe6ac;
}


/* location: map size */
.location iframe {
	width: 100%;
	height: 23em;
    margin-bottom: 10px;
}




/* footer: a:visited, padding */
.footer  {
	background-color: #222;
	width: 100%;
	color: #c78c06;
	padding: 1em;
}

.footer p {
    padding-block: 0.4em;
}

.footer a:visited {
	color: #c78c06;
}



/* media querie */
@media screen and (min-width: 1200px) {
    body {
        max-width: 1200px;
    }
}

/* desktop media querie*/

@media screen and (min-width: 760px) {


h1 {
    font-size: 3.4rem;
    font-weight: bold;
    line-height: 1.5em;
    padding: 0.5em 0 0.4em 0;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    margin: 0.3em 0 0.5em 0;
}

h4 {
    font-size: 1.4rem;
    font-weight: bold;
    padding: 0 0 0.5em 0;
}

h6 {
    font-size: 0.7rem;
    font-weight: bold;
}

p {
    font-size: 0.7rem;
    line-height: 1.5em;
}


.welcome i, .service i, .vision i {
    padding-inline: 0.4em;
}

.welcome button, .service button, .vision button {
    font-family: 'Open Sans';
    font-size: 1.2em;
    font-weight: 400;
    display: flex;
}

.welcome i, .service i, .vision i {
    font-size: 1.5em;
}


/* header: flex, justify-content, align items */


.header {
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo, .logo img {
    width: 5em;
    height: auto;
    padding: 0;
}

.header ul {
    width: 100%;
    display: flex;
}

.header ul li:nth-child(2),
.header ul li:nth-child(3),
.header ul li:nth-child(4),
.header ul li:nth-child(5)  {
    white-space: nowrap;
    width: 5em;
}

#home {
    padding: 20px 30px;
}


.header form {
    display: flex;
    width: 220px;
}

/* welcome */
.welcome {
    height: 360px;
    display: flex;
    align-items: center;
}

.welcome button {
    padding: 1.5em 1.5em;
}

.welcome .box {
    margin-inline: 100px;
    padding-left: 10px;
}


/* about: float */
.about {
    display: flex;
}

.about img {
    width: 48%;
    float: left;
    padding: 10px 10px 10px 0;
    align-items: center;
}

.about .wrapper {
    /* padding-block: 0; */
}

/* service: flex */
.service {
    margin: 50px 0 0 0;
    max-width: 1040px;
}

.service .contents {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contents .text {
    margin: 0;
}

.contents button {
    width: 100%;
    justify-content: center;
    padding-block: 25px;
}

.contents .digital, .contents .marketing {
    width: 49.5%;
    margin-bottom: 10px;
}

.contents .video, .contents .web, .contents .print {
    width: 32.7%;
}


/* vision */
.vision {
    padding: 30px 0 10px 0;
    height: 190px
}

.vision button {
    padding: 25px 25px;
}



/* team: grid */
.team {
    margin-top: 30px;
}

.member {
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "block1 block2"
    "block3 block4"
}

.member div {
    width: 100%;
    height: auto;
    margin: 0;
    box-sizing: border-box;
}

.member .info {
    padding: 20px 10px;
}

.photo-john {
    grid-area: block1;
}

.photo-bob {
    grid-area: block4;
}

.info .john {
    grid-area: block2;
}

.info .bob {
    grid-area: block3;
}



/* contact: grid */
.contact {
    margin: 50px 0 0 0;
    max-width: 1040px;
}

.information {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.message, .location {
    flex-basis: 49.5%;
    margin-bottom: 10px;
}

.hour {
    order: 1;
    width: 100%;
    margin-block: 20px;
}

.location iframe {
    height: 400px;
}


#hour th, td {
	font-size: 0.8em;
    padding: 15px 20px;
}

.footer {
    height: 80px;
    display: flex;
    align-items:flex-end;
}

}