body {
    background-color: white;
    font-family: 'Open Sans';
}

.about {
    background-color: #ffe6ac;
}

.digital, .marketing, .video, .web, .print {
    background-color: #ffe6ac;
    margin: 1rem;
    padding: 1rem;
}

.wrapper {
    max-width: 1200px; /* The maximum width of the container is 1200px */
}

@media screen and (min-width: 760px) { /* min-width media query for 760px */
    .wrapper {
        
    }
}